
header {
    background: #2c3e50;
    color: #fff;
}

.centraDiv {
   position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.GVBCenter {
    text-align: center;
}

.main {
    background: #f2f2f2;
}

.color1 {
    background: #34495e;
    color: #fff;
}

.img-producto {
    background: #c0392b;
    color: #fff;
}

footer {
    background: #16a085;
    color: #fff;
}

.GVVDetalleTotal{
    width: 200px;
}
.GVVDetalleCodigo{
    width: 100px;
    min-width: 100px;
}

.GVVDetalleProducto{
    min-width: 300px;
}
.grupo-encabezado {
    background: #2198ff;
    color: #fff;
}

.ColorFilaAlter {
    background-color: rgba(195, 195, 195, 0.38);
}

.alinearTop {
    /*margin-top: 8px;*/
    height: 34px;
    padding-top: 7px;
}

.alinearTop2 {
    /*margin-top: 8px;*/
    height: 60px;
    padding-top: 15px;
}

p {
    margin-bottom: 0px;
}

.panel-head {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    border-bottom: 1px solid;
    color: #fff;
    background-color: #7cb5d2;
    border-color: #337ab7;
}

.panel-primary {
    border-radius: 0px;
    margin-bottom: 20px;
}

/*.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}

#menu-venta.navbar-default {
    font-size: 14px;
    background-color: #001f40;
    border-bottom-width: 0px;
}

    #menu-venta.navbar-default .navbar-nav > li > a {
        color: rgba(255, 255, 255, 1);
        background-color: #001f40;
    }

        #menu-venta.navbar-default .navbar-nav > li > a:hover,
        #menu-venta.navbar-default .navbar-nav > li > a:focus {
            color: rgba(85, 85, 85, 1);
            background-color: rgba(247, 249, 250, 1);
        }

    #menu-venta.navbar-default .navbar-nav > .active > a,
    #menu-venta.navbar-default .navbar-nav > .active > a:hover,
    #menu-venta.navbar-default .navbar-nav > .active > a:focus {
        color: rgba(85, 85, 85, 1);
        background-color: rgba(255, 255, 255, 1);
    }

    #menu-venta.navbar-default .navbar-toggle {
        border-color: #ffffff;
    }

        #menu-venta.navbar-default .navbar-toggle:hover,
        #menu-venta.navbar-default .navbar-toggle:focus {
            background-color: #ffffff;
        }

        #menu-venta.navbar-default .navbar-toggle .icon-bar {
            background-color: #ffffff;
        }

        #menu-venta.navbar-default .navbar-toggle:hover .icon-bar,
        #menu-venta.navbar-default .navbar-toggle:focus .icon-bar {
            background-color: #001f40;
        }*/

/*.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
    background-color: #104577;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: #104577;
}*/

/*.icon-size {
    font-size: 87px;
    background-color: #001f40;
}*/

/*.nav-tabs {
     overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;  
    display: -moz-box;   
  }
.nav-tabs>li {
      float:none;
    }

@media(max-width:767px) {
    .navbar .navbar-form {
        width: 185px;
        padding-left:0;
        padding-right:0;
    }
}
@media(min-width:768px) {
    .navbar .navbar-form {
        width: 250px;
    }
}
.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}*/

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.AjusteInternoTabs {
     padding-left: 5px; 
     padding-right: 5px;
}